Hi {{ username }},

We received a request to reset your password.

To set a new password, click the link below:

{{ reset_url }}

This link will expire in {{ expiry_hours }} hours. If you didn’t request this reset, you can safely ignore this email.

Thanks,
jay0.dev